div.state-boot {
  opacity: 0;
  color: #fff;
}

div.state-boot,
div.state-boot * {
  transition: opacity 0.5s;
}

div.state-boot div.content {
  min-width: fit-content;
  align-items: center;
  justify-content: space-around;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 6vw 0;
}

div.state-boot img.logo {
  width: 200px;
  height: 200px;
}

div.state-boot div.progressbar {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3.5px;
  background-color: rgb(20, 20, 20);
  height: 7px;
}

div.state-boot div.progressbar > div {
  height: 7px;
  background-color: #bbb;
  border-radius: 3.5px;
}

div.state-boot p.status {
  text-align: center;
  font-family: var(--font);
  color: #eee;
  margin: 0;
}

div.state-boot.fadein,
div.state-boot.fadein * {
  opacity: 1;
}

div.state-boot.fadeout,
div.state-boot.fadeout * {
  opacity: 0 !important;
}

div.state-boot div.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
