:root div.state-boot {
  --fg: #eee;
  --bg: #000;
}

@media screen and (prefers-color-scheme: light) {
  :root div.state-boot {
    --fg: #333;
    --bg: #fff;
  }

  div.state-boot img.glowing-logo {
    background-image: none;
  }

  div.state-boot img.spinner-svg {
    filter: brightness(0.4);
  }
}

div.state-boot {
  opacity: 0;
  color: var(--fg);
  background-color: var(--bg);
}

div.state-boot,
div.state-boot * {
  transition: opacity 0.5s;
}

div.state-boot div.content {
  min-width: fit-content;
  align-items: center;
  justify-content: space-around;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 6vw 0;
}

div.state-boot div.connection-failed {
  text-align: center;
  padding: 60px 100px;
  border-radius: var(--win-border-rad);
  border: var(--win-border);
  background-color: var(--win-bg);
  color: var(--fg);
}

div.state-boot div.connection-failed img {
  height: 96px;
}

div.state-boot div.connection-failed h1 {
  margin: 25px 0;
  margin-top: 5px;
  font-size: 22px;
}

div.state-boot div.connection-failed p {
  margin: 20px 0;
  color: var(--fg);
}

div.state-boot div.connection-failed button {
  margin: 0;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background-color: var(--button-bg);
  color: var(--fg);
}

div.state-boot div.connection-failed button + button {
  margin-left: 8px;
}

div.state-boot div.connection-failed button:hover {
  background-color: var(--button-hover-bg);
}

div.state-boot div.connection-failed button:active {
  background-color: var(--button-active-bg);
  scale: 0.95;
}

div.state-boot img.glowing-logo {
  width: 200px;
  height: 200px;
}

div.state-boot div.progressbar {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3.5px;
  background-color: rgb(20, 20, 20);
  height: 7px;
}

div.state-boot div.progressbar > div {
  height: 7px;
  background-color: #bbb;
  border-radius: 3.5px;
}

div.state-boot p.status {
  text-align: center;
  font-family: var(--font);
  color: var(--fg);
  margin: 0;
}

div.state-boot.fadein,
div.state-boot.fadein * {
  opacity: 1;
}

div.state-boot.fadeout,
div.state-boot.fadeout * {
  opacity: 0 !important;
}

div.state-boot div.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.state-boot div.version,
div.state-boot div.f8 {
  position: absolute;
  font-family: "Source Code Pro";
  font-size: 13px;
}

div.state-boot div.version {
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 20px 0;
  opacity: 0.4;
}

div.state-boot div.f8 {
  top: 5px;
  right: 5px;
  opacity: 0.7;
}
